@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.header-contanier {
  width: 100%;
}

.nav-bar {
  margin: 10px auto;
  border: 2px solid;
  width: 75%;
  display: flex;
  flex-direction: row;
  padding: 0.8rem 0;
  justify-content: space-between;
}

.logo {
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-right: 20px;
}

.nav-list li {
  list-style-type: none;
}

.nav-list li a {
  font-size: 1.2rem;
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.nav-list li a:hover {
  color: rgb(48, 48, 241);
}

.border {
  border-left: 2px solid rgb(37, 37, 37);
  border-right: 2px solid rgb(37, 37, 37);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.book-heading {
  padding: 2rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  background: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

.books {
  display: flex;
  justify-content: center;
  align-items: center;
}

.books-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: 2rem auto;
  border: 2px solid;
  align-items: center;
}

.no-border {
  border: none;
}

.book-title {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
}

.book-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

.add-book {
  width: 60%;
}

.date {
  float: right;
  font-size: 14px;
  font-weight: 700;
  margin-right: 210px;
}

.addnewbook {
  display: none;
}

.form-control {
  padding: 10px 0;
}

.form-control input {
  padding: 0.4rem 1rem;
  outline: 2px solid #000;
  border: none;
  width: 100%;
  border-radius: 5px;
}

form {
  width: 40%;
  margin: auto;
}

form .add {
  float: right;
}

.white {
  background: #fff;
}

.light {
  background: #ccc;
}

.contact {
  display: none;
}

.contact-desc {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-desc h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 30px;
}

.ul-list {
  width: 50%;
  margin: auto;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.footer-logo {
  width: 75%;
  border: 2px solid;
  padding: 10px;
  font-weight: 600;
  font-family: 'poppins', sans-serif;
  margin: 20px auto;
}
