@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.book-heading {
  padding: 2rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  background: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

.books {
  display: flex;
  justify-content: center;
  align-items: center;
}

.books-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: 2rem auto;
  border: 2px solid;
  align-items: center;
}

.no-border {
  border: none;
}

.book-title {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
}

.book-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

.add-book {
  width: 60%;
}

.form-control {
  padding: 10px 0;
}

.form-control input {
  padding: 0.4rem 1rem;
  outline: 2px solid #000;
  border: none;
  width: 100%;
  border-radius: 5px;
}

form {
  width: 40%;
  margin: auto;
}

form .add {
  float: right;
}

.white {
  background: #fff;
}

.light {
  background: #ccc;
}
