* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.book-item {
  width: 30%;
  border-bottom: 1px solid;
  padding: 10px;
  margin-bottom: 10px;
}

.form-control {
  padding: 10px 0;
}
